/*	==================================================
	
	Основные цвета проекта
	
	Main Blue: #128ad4
	Light Blue: #2a99da
	
	==================================================	*/


* {margin: 0; padding: 0; -webkit-font-smoothing: antialiased; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; border: 0; outline: none; position: relative}

html {overflow-x: hidden; font-family: Arial, Helvetica, sans-serif; font-size: 14pt}
body {overflow: hidden; background-color: #f6f6f6}
#wrap {padding: 0px 0px 40px 0px}

.container {margin: 0 auto; width: 90%}
.i_sprite {background-image: url(../img/icons.png); background-repeat: no-repeat;}

input:focus::-webkit-input-placeholder{opacity:0;}
input:focus:-moz-placeholder{opacity:0;}
input:focus::-moz-placeholder{opacity:0;}
input:focus:-ms-input-placeholder{opacity:0;}


/*	==================================================
	Header
	==================================================	*/

header {background-color: white; height: 60px}
header .left {float: left;}
header .left img {height: 30px; width: auto; margin: 15px 0px 0px 0px}

header .right{text-align:right;float:right;height:60px;}
header .right .user{display:inline-block;vertical-align:top;padding:10px 0 0;}
header .right .user .photo{float:left;}
header .right .user .photo img{width:38px;height:38px;border-radius:50%;border:2px solid #fff;box-shadow:0 0 0 1px #ddd;}
header .right .user .info{overflow:hidden;text-align:left;font-size:.7em;padding: 4px 20px 0 10px;width: 170px;line-height:1.3;color:#333;}
header .right .user .info .icon{width:10px;height:10px;position:absolute;right:0;top:50%;background-size:auto 20px;background-position:-40px 0;opacity:.3;margin:-5px 0 0;}


/*	==================================================
	Navigation
	==================================================	*/

nav {background-color: #128ad4; box-shadow: 0px 2px 0px rgba(0,0,0,.1); height: 48px; z-index: 99}
nav .left {float: left; font-size: 0px; opacity: 0.5;padding: 14px 0px 14px 0px; border-right: 1px solid rgba(255,255,255,.3)}
nav .left:hover {opacity: 0.7}
nav .left.focus {opacity: 1}
nav .left .search {white-space: nowrap}
nav .left .icon {width: 18px; height: 18px;background-size: auto 36px;background-position: -90px 0px; display: inline-block}
nav .left input {display: inline-block; vertical-align: top; background-color: #128ad4; border: 0px; color: white; font-size: 0.9rem;letter-spacing: -0.01em; font-family: Arial, Helvetica, sans-serif; min-width: 280px; margin: 0px 0px 0px 12px; padding-right: 20px}

nav .left input::-webkit-input-placeholder{color:#fff;}
nav .left input:-moz-placeholder{color:#fff;}
nav .left input::-moz-placeholder{color:#fff;}
nav .left input:-ms-input-placeholder{color:#fff;}

nav .right {float: right; text-align: right}
nav .right #nav_filter{font-size:0;margin: 15px 0px 0px 0px;display: inline-block;vertical-align: top;}
nav .right #nav_filter a{color:#fff;font-size:.8rem;display:inline-block;line-height:1;margin:0 0 0 24px;opacity:.5;border-bottom:1px dashed;cursor:pointer;}
nav .right #nav_filter a.active{font-weight:900;opacity:1;border-bottom:0;}
nav .right #nav_filter a:hover{opacity:.8;}

nav .right #color_filter{display:inline-block;vertical-align:top;font-size:0;padding:14px 0 14px 10px;border-left:1px solid rgba(255,255,255,0.1);margin-left:15px;}
nav .right #color_filter a{display:inline-block;vertical-align:top;width:20px;height:20px;background-color:#fff;border-radius:50%;border:2px solid #128ad4;opacity:.7;margin-left:10px; cursor: pointer}
nav .right #color_filter a:hover {box-shadow:0 0 0 1px rgba(255,255,255,0.5); opacity: 0.9}
nav .right #color_filter a.active{box-shadow:0 0 0 1px #fff;opacity:1;}

nav .right #color_filter a.none {}
nav .right #color_filter a.none:after {content: " "; background-image: url(../img/icons.png); background-size: auto 16px; background-position: -56px 0px; height: 8px; width: 8px; position: absolute; left: 4px; top: 4px; opacity: 0.8}
nav .right #color_filter a.red {background-color: #cc0000}
nav .right #color_filter a.green {background-color: #82cc00}
nav .right #color_filter a.orange {background-color: #ee7126}



/*	==================================================
	Notes layout
	==================================================	*/

/*  Main layout  */
#notes{font-size:0;padding:20px 0;text-align:center;}
#notes .item{background-color:#fff;overflow:hidden;display:inline-block;box-shadow:1px 1px 0 rgba(0,0,0,.1);margin:10px 0;vertical-align:top;text-align:left;cursor:pointer;-webkit-transition:opacity .2s ease;-moz-transition:opacity .2s ease;-ms-transition:opacity .2s ease;-o-transition:opacity .2s ease;transition:opacity .2s ease; border-top: 5px solid white}

/*  Text sizes  */
#notes .item .text{font-size:.75rem;line-height:1.6;color:#555; padding: 15px 20px 20px}
#notes .item.big .text {font-size: 1.4rem; line-height: 1.2}
#notes .item.medium .text {font-size: 1.1rem; line-height: 1.3}

/*  Tile colors  */
#notes .item.red {border-top-color: #cc0000}
#notes .item.green {border-top-color: #82cc00}
#notes .item.orange {border-top-color: #ee7126}

/*  Colums sizes  */
#notes .column {display: inline-block; vertical-align: top; width: 255px;text-align: center}
#notes .column.size-1of1 {width: 100%}
#notes .column.size-1of2 {width: 48%}
#notes .column.size-1of3 {width: 31.3333%}
#notes .column.size-1of4 {width: 22.75%}
#notes .column.size-1of5 {width: 18.4%}
#notes .column.size-1of1:nth-of-type(2) {margin: 0px 0px}
#notes .column.size-1of2:nth-of-type(2) {margin: 0px 0px 0px 4%}
#notes .column.size-1of3:nth-of-type(2) {margin: 0px 3%}
#notes .column.size-1of4:nth-of-type(2), 
#notes .column.size-1of4:nth-of-type(3), 
#notes .column.size-1of4:nth-of-type(4) {margin: 0px 0px 0px 3%}
#notes .column.size-1of5:nth-of-type(2), 
#notes .column.size-1of5:nth-of-type(3), 
#notes .column.size-1of5:nth-of-type(4), 
#notes .column.size-1of5:nth-of-type(5) {margin: 0px 0px 0px 2%}

/*  Controls  */
#notes .item .control{position:absolute;bottom:0;left:0;width:100%;height:40px;background-color:rgba(255,255,255,.95);padding:12px 20px;overflow:hidden;-webkit-transform:translate(0,42px);-moz-transform:translate(0,42px);-ms-transform:translate(0,42px);-o-transform:translate(0,42px);transform:translate(0,42px);-webkit-transition:-webkit-transform .15s ease;-moz-transition:-moz-transform .15s ease;-ms-transition:-ms-transform .15s ease;-o-transition:-o-transform .15s ease;transition:transform .15s ease;box-shadow:0 -2px 0 rgba(0,0,0,0.1);}
#notes .item:hover .control{-webkit-transform:translate(0,0px);-moz-transform:translate(0,0px);-ms-transform:translate(0,0px);-o-transform:translate(0,0px);transform:translate(0,0px);}
#notes .item .control a{background-image:url(../img/icons.png);background-repeat:no-repeat;display:inline-block;width:16px;height:16px;vertical-align:top;background-size:auto 32px;opacity:.3;margin:0 22px 0 0;cursor:pointer;-webkit-transform:translate(0,16px) translateZ(0);-moz-transform:translate(0,16px) translateZ(0);-ms-transform:translate(0,16px) translateZ(0);-o-transform:translate(0,16px) translateZ(0);transform:translate(0,16px) translateZ(0);-webkit-transition:-webkit-transform .25s ease;-moz-transition:-moz-transform .25s ease;-ms-transition:-ms-transform .25s ease;-o-transition:-o-transform .25s ease;transition:transform .25s ease;}
#notes .item .control a:hover {opacity: 0.5}
#notes .item .control a.active {opacity: 1;}

/*  Controls animations  */
#notes .item .control a.remind{background-position:0 0;-webkit-transition-delay:0s;-moz-transition-delay:0s;-ms-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s;}
#notes .item .control a.remind.active {background-position: 0px -16px}
#notes .item .control a.share {background-position: -16px 0px;-webkit-transition-delay:0.03s;-moz-transition-delay:0.03s;-ms-transition-delay:0.03s;-o-transition-delay:0.03s;transition-delay:0.03s;}
#notes .item .control a.share.active {background-position: -16px -16px}
#notes .item .control a.tag {background-position: -32px 0px;-webkit-transition-delay:0.06s;-moz-transition-delay:0.06s;-ms-transition-delay:0.06s;-o-transition-delay:0.06s;transition-delay:0.06s;}
#notes .item .control a.tag.active {background-position: -32px -16px}
#notes .item .control a.color {background-position: -96px 0px;-webkit-transition-delay:0.09s;-moz-transition-delay:0.09s;-ms-transition-delay:0.09s;-o-transition-delay:0.09s;transition-delay:0.09s;}
#notes .item .control a.color.active {background-position: -96px -16px}
#notes .item .control a.more {background-position: -48px 0px; float: right; margin-right: 0px;-webkit-transition-delay:0.12s;-moz-transition-delay:0.12s;-ms-transition-delay:0.12s;-o-transition-delay:0.12s;transition-delay:0.12s;}
#notes .item .control a.more.active {background-position: -48px -16px}
#notes .item:hover .control a{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);}

/*  Tile hover opacity  */
#notes.hover .item {opacity: 0.4}
#notes.hover .item:hover {opacity: 1}

/*  Tags  */
#notes .item .tags{padding:15px 20px 10px;}
#notes .item .tags span{font-size:.65rem;color:#aaa;white-space:nowrap;display:inline-block;vertical-align:top;margin:0 12px 0 0;}
#notes .item .tags + .text{padding-top:0;}

/*  Reminders  */
#notes .item .reminder{border-top:1px solid #eee;padding:10px 20px;margin:-10px 0 0;}
#notes .item .reminder .icon{width:12px;height:12px;display:inline-block;background-size:auto 24px;background-position:0 0;opacity:.4;vertical-align:top;}
#notes .item .reminder .icon + div{font-size:9pt;display:inline-block;vertical-align:top;margin:-1px 0 0 6px;color:#666;}

/*  New note tyle  */
#notes .item.new{padding:20px;width:100%; border-top: 0px}
#notes .item.new .content{padding:20px;font-size:10pt;text-align:center;border:1px dashed #ddd;border-radius:4px;color:#999;}


/*	==================================================
	Responsive columns
	==================================================	*/

@media screen and (max-width: 1900px) and (min-width: 1500px) {
	#notes[data-columns]::before {
		content: '5 .column.size-1of5';
	}
}
@media screen and (max-width: 1499px) and (min-width: 1200px) {
	#notes[data-columns]::before {
		content: '4 .column.size-1of4';
	}
}
@media screen and (max-width: 1199px) and (min-width: 895px) {
	#notes[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}
@media screen and (max-width: 894px) and (min-width: 590px) {
	#notes[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (max-width: 589px) {
	#notes[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}


/*	==================================================
	Other responsive changes
	==================================================	*/


@media screen and (max-width: 960px) {
	nav .right #nav_filter a {margin-left: 18px}
}
@media screen and (max-width: 768px) {
	nav{height:88px;text-align:left;}
	nav .left {float: none; border-right: 0px; border-bottom: 1px solid rgba(255,255,255,0.2)}
	nav .left input { min-width: 0px; width: 17em}
	nav .right {float: none; text-align: left}
	nav .right #nav_filter {margin-top: 12px}
	nav .right #nav_filter a {margin: 0px 20px 0px 0px}
	nav .right #color_filter{padding: 10px 0 8px 10px;}

}
@media screen and (max-width: 640px) {
	html {font-size: 12pt}
}
@media screen and (max-width: 420px) {
	nav .right #color_filter{display: block;padding: 0px;border-left: none;text-align: center;margin: 32px 0px 0px 0px;}
	nav .right #color_filter a{border:2px solid #f6f6f6;margin-left:5px; margin-right: 5px;}
	nav .right #color_filter a:hover {box-shadow:0 0 0 1px rgba(0,0,0,.5); opacity: 0.9}
	nav .right #color_filter a.active{box-shadow:0 0 0 1px #333;opacity:1;}
	#notes{padding:50px 0 20px;}
}


/*	==================================================
	Changes for touch devices
	==================================================	*/

.touch #notes .item .control{-webkit-transform:translate(0,0px);-moz-transform:translate(0,0px);-ms-transform:translate(0,0px);-o-transform:translate(0,0px);transform:translate(0,0px);}
.touch #notes .item .control a {-webkit-transform:translate(0,0px) translateZ(0);-moz-transform:translate(0,0px) translateZ(0);-ms-transform:translate(0,0px) translateZ(0);-o-transform:translate(0,0px) translateZ(0);transform:translate(0,0px) translateZ(0);}
.touch #notes .item:not(.new){padding-bottom: 42px}
.touch #notes.hover .item {opacity: 1}
.touch #notes.hover .item:hover {opacity: 1}
